<!--The content below is only a placeholder and can be replaced.-->
<div class="xm-section xm-section_center" style="text-align:center"><h1>Historical quotes</h1></div>

<div class="xm-section xm-section_center">
  <form class="xm-form" [formGroup]="form" (submit)="onSubmit()" *ngIf="form">
    <div class="xm-widget">
      <div class="xm-widget__body">
        <label class="xm-widget__name" for="companySymbol">Company symbol</label>
        <input class="xm-widget__value" type="text" id="companySymbol"
               formControlName="companySymbol"
               placeholder="Enter company symbol">
      </div>
      <div class="xm-widget__message" *ngFor="let msg of controlMessage(form.get('companySymbol'))">{{msg}}</div>
    </div>

    <div class="xm-widget" [class.xm-widget_invalid]="form.get('dateStart').invalid">
      <div class="xm-widget__body">
        <label class="xm-widget__name" for="dateStart">Date start</label>
        <my-date-picker #dateStart class="xm-widget__value" id="dateStart"
                        formControlName="dateStart"
                        [options]="{
                            dateFormat: 'yyyy-mm-dd', openSelectorOnInputClick: true,
                            disableSince: dateEnd.selectedDate
                        }"
                        placeholder="Enter date start"></my-date-picker>
      </div>
      <div class="xm-widget__message" *ngFor="let msg of controlMessage(form.get('dateStart'))">{{msg}}</div>
    </div>

    <div class="xm-widget" [class.xm-widget_invalid]="form.get('dateEnd').invalid">
      <div class="xm-widget__body">
        <label class="xm-widget__name" for="dateEnd">Date end</label>
        <my-date-picker #dateEnd class="xm-widget__value" id="dateEnd"
                        formControlName="dateEnd"
                        [options]="{
                            dateFormat: 'yyyy-mm-dd', openSelectorOnInputClick: true,
                            disableUntil: dateStart.selectedDate
                        }"
                        placeholder="Enter date end"></my-date-picker>
      </div>
      <div class="xm-widget__message" *ngFor="let msg of controlMessage(form.get('dateEnd'))">{{msg}}</div>
    </div>

    <div class="xm-widget">
      <div class="xm-widget__body">
        <label class="xm-widget__name" for="email">Email</label>
        <input type="email" class="xm-widget__value" id="email"
               formControlName="email"
               placeholder="Enter email">
      </div>
      <div class="xm-widget__message" *ngFor="let msg of controlMessage(form.get('email'))">{{msg}}</div>
    </div>

    <div class="xm-form__footer">
      <button type="reset" class="xm-button xm-button_dim">Reset</button>
      <button type="submit" class="xm-button" [disabled]="form.invalid">Get quotes</button>
    </div>
  </form>
</div>

<div class="xm-section">
  <chart class="stock-chart" type="StockChart" [options]="options"></chart>
</div>

<div class="xm-section xm-section_center">
  <table>
    <thead>
    <tr>
      <td>Date</td>
      <td>Open</td>
      <td>High</td>
      <td>Low</td>
      <td>Close</td>
      <td>Volume</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let quote of hQuotes">
      <td>{{quote.date * 1000 | date}}</td>
      <td>{{quote.open}}</td>
      <td>{{quote.high}}</td>
      <td>{{quote.low}}</td>
      <td>{{quote.close}}</td>
      <td>{{quote.volume.toLocaleString()}}</td>
    </tr>
    </tbody>
  </table>
</div>
