h1 {
  margin: 0;
}

table {
  border-collapse: collapse;

  td {
    border: 1px solid black;
    padding: 4px;
  }

  thead td {
    background-color: lightgray;
    font-weight: bold;
    text-align: center;
  }
}

.stock-chart {
  display: flex;
  justify-items: center;
}

.xm-section {
  display: block;
  width: 100%;

  &:not(:first-of-type) {
    margin-top: 20px;
  }

  &_center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.xm-form {
  max-width: 400px;

  &__footer {
    margin-top: 20px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    & > * {
      width: 98%;
      &:not(:first-child) {
        margin-left: 2px;
      }
      &:not(:last-child) {
        margin-right: 2px;
      }
    }
  }
}

$control_disabled_bg-color: #d7d7d7;
$control_valid_border-color: #c4c4cb;
$control_error_border-color: #ffa6a6;
$control_height: 36px;

@mixin form_control-invalid() {
  border: 1px solid $control_error_border-color;
  background-color: lighten($control_error_border-color, 15%);
  &:hover, &:focus {
    border-color: darken($control_error_border-color, 10%);
    background-color: lighten($control_error_border-color, 8%);
  }
}

@mixin form_control-valid() {
  border: 1px solid $control_valid_border-color;
  border-radius: 2px;
  outline: none;
  background-color: white;

  &, input, textarea, select, button {
    font-weight: 300;
  }

  &:hover {
    border-color: darken($control_valid_border-color, 10%);
  }
  &:focus {
    border-color: #5099cf;
  }
}

@mixin form-control() {
  color: inherit;
  outline: none;
  box-shadow: none;
  @include form_control-valid();

  &:invalid, &.ng-invalid {
    @include form_control-invalid();
  }
}

@mixin button-background-color($color, $base-hover-color: $color) {
  background-color: $color;

  &:hover, &:focus {
    background-color: darken($base-hover-color, 10%);
    outline: 0;
  }
}

.xm-widget {
  display: block;
  width: 100%;
  margin-top: 4px;

  &__body {
    width: 100%;
    display: flex;
    height: $control_height;
  }

  &__message {
    width: 100%;
    color: lightcoral;
    text-align: right;
    margin-top: 4px;
    &:last-child {
      margin-bottom: 15px;
    }
  }

  &__name {
    flex-shrink: 0;
    flex-basis: 40%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 4px;
  }

  &__value {
    flex-basis: 60%;
    width: 60%;
    display: flex;
    align-items: stretch;
  }

  & input, & /deep/ .mydp {
    @include form-control();
    font-size: 14px;

  }

  & /deep/ .mydp .selectiongroup, & /deep/ .mydp input {
    background-color: transparent;
  }

  &_invalid /deep/ .mydp {
    @include form_control-invalid();
  }

  & /deep/ input {
    font-size: 14px;
    padding-left: 6px;
  }
}

.xm-button {
  // VARIABLES
  $page_header_bg-color: #5099cf;

  // Mixins
  @mixin simple-button($top: 100%) {
    &:before, &:after {
      background-color: $page_header_bg-color;
      content: '';
      position: absolute;
      height: 1px;
      width: 100%;
      top: $top;
      left: 0;
      margin-top: -1px;
    }

    &:hover:before, &:focus:before,
    &:hover:after, &:focus:after {
      background-color: darken($page_header_bg-color, 20%);
    }
  }

  // Styles
  @include button-background-color($page_header_bg-color);
  transition: background-color 0.3s ease-out;
  position: relative;
  overflow: hidden;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  padding: 0 20px;
  cursor: pointer;
  text-align: center;
  height: 40px;
  text-decoration: none;
  border: none;

  //display: inline-block;
  //.vertical-align();
  display: inline-flex;
  align-items: center;
  justify-content: center;

  // Disabled button
  &:disabled {
    background-color: $control_disabled_bg-color;
    cursor: default;
  }

  // Модификатор - тусклая кнопка
  &_dim {
    @include button-background-color($control_disabled_bg-color, $page_header_bg-color);
  }

  // Модификатор - растягивание кнопки во всю ширину
  &_full-width {
    padding: 0;
    width: 100%;
  }
}
